﻿@{
    ViewData["Title"] = "Home";
}

<div class="banner-container">
    <div class="banner"></div>
</div>

<div class="welcome-container">
    <div class="welcome-header">
        <img src="https://freepngimg.com/thumb/toyota_logo/5-2-toyota-logo-png-thumb.png" />
        <h1>Welcome to ZML Toyota</h1>
    </div>
    
    <p>Where buying a car is easy. Explore our inventory and find your perfect ride.</p>

    <div class="btn-row">
        <a asp-controller="Vehicles" asp-action="Index" class="btn btn-danger">
            <i class="fas fa-car fa-md" style="margin-right: 10px;"></i>
            Explore All Vehicles
        </a>
        <a asp-controller="Match" asp-action="FindYourMatch" class="btn btn-secondary">
            <i class="fas fa-magic fa-md" style="margin-right: 10px;"></i>
            Find Your Match
        </a>
    </div>
</div>
<br />

<section>
    <div class="sectionHead"><h2>About Us</h2></div>
    <hr class="section-divider">
    <div class="row">
        <div class="col-md-12">
            <p>
                Welcome to ZML Toyota, your trusted Toyota dealership in Deerfield Beach, FL! At ZML Toyota, we are committed to providing a seamless car-buying experience with a focus on customer satisfaction, quality, and integrity. We offer an extensive inventory of new and pre-owned Toyota vehicles, including the latest models and a variety of certified used cars to suit every budget and lifestyle.
            </p>
            <p>
                Our dedicated team of knowledgeable sales professionals is here to guide you every step of the way, from finding the perfect vehicle to securing financing. We also provide exceptional maintenance and repair services through our state-of-the-art service center, where our certified technicians ensure your Toyota stays in top condition.
            </p>
            <p>
                At ZML Toyota, we pride ourselves on being a part of the Deerfield Beach community, and we look forward to helping you find the perfect Toyota to meet your needs. Visit us today and experience the ZML Toyota difference!
            </p>
        </div>
    </div>
</section>

<section>
    <div class="sectionHead"><h2>Contact Us</h2></div>
    <hr class="section-divider">
    <div class="row">
        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14366.524877081828!2d-80.11270247301343!3d26.31841021014451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d8a398c9db4aaf%3A0x3b9fa44dbecb1f78!2sToyota!5e0!3m2!1sen!2sus!4v1616351338859!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-md-5">
            <h4>Dealership Info</h4>
            <br />
            <p>Email: support@zmltoyota.com</p>
            <p>Phone: +1 (800) 123-4567</p>

            <br />

            <h4>Top Representatives</h4>
            <br />
            <p>Logan Wiggins: logan@zmltoyota.com</p>
            <p>Margaret Rivas: margaretrl@zmltoyota.com</p>
            <p>Zach Kirschner: zkirschner@zmltoyota.com</p>
        </div>
    </div>
</section>


<!-- STYLES -->
<style>
    section {
        margin: 4rem 0;

        h2 { font-weight: 600; }
        h4 { font-weight: 600; }
        p { font-size: 1.5rem; }
    }

    .container {
        margin: 0 auto;
        padding: 0px;
        flex: 1;
    }

    .banner-container {
        height: 60svh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .banner {
        background-image: url('https://wallpapercave.com/wp/wp2267452.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    .welcome-container {
        background: white;
        color: black;
        padding: 0px;
        text-align: center;
        border-radius: 10px;

        p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }
    .welcome-header {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 2rem 0 1rem 0;
        gap: 2rem;
        
        img { max-width: 4rem; }

        h1 {
            font-size: 3rem;
            font-weight: 600;
            margin: 0;
        }
    }

    .btn {
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.2rem;
    }

    .btn-danger {
        background-color: #ff0000;
        color: white;
    }
    .btn-danger:hover { background-color: #cc0000; }

    .btn-row {
        justify-content: center;
        margin-top: 2rem;
    }

    .row { align-items: center; }
</style>