@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Privacy Policy</h1>

<hmtl>
    <p><strong>Privacy Policy Last Updated:</strong> 10/10/2024</p>


    <p>Thank you for visiting our dealership website, including our mobile device-ready version. The dealership and our affiliates (together, "ZML Toyota", “dealership”, “us” or "we") strive to make our website a useful tool and a rewarding experience for our customers by tailoring the content to your personal needs and interests. This way, the content of our website will be as relevant as possible for you, the customer. We hope that you find our website to be a useful part of your car-buying experience.</p>

    <p>To accomplish this, we responsibly collect and utilize personally identifiable information. We respect your privacy, and this Privacy Policy documents our commitment to safeguard and treat your privacy and the personal information that we collect online with reasonable care and in strict compliance with applicable law for the protection of personally identifiable information.</p>

    <p>This policy was implemented as of February 14, 2023, and applies to information collected on this website and those of our affiliates (together, "our website" or "the website") and covers the following areas:</p>

    <ol>
        <li>What personally identifiable information is collected by the dealership or by any third party through our website.</li>
        <li>How the dealership uses this information.</li>
        <li>With whom the dealership may share this information.</li>
        <li>What choices are available to you as a user of our website with respect to collection, use and distribution of the information;</li>
        <li>What types of security procedures are in place to protect the loss, misuse or alteration of information under our control.</li>
    </ol>

    <p>This Privacy Policy applies only to our website and information collected for us or by us through our website and through various features and online offerings on our website. It does not apply to any third-party site or service linked to our website or recommended or referred by our website or by our staff. Further, it does not apply to any other type of online site or online service operated by the dealership or its affiliates, or to any of our offline activities.</p>

    <h2>1. Information Collection and Use</h2>
    <p>The dealership collects two different types of information through our website: anonymous information and personally identifiable information.</p>

    <h3>Anonymous Information</h3>
    <p>First, we collect and store anonymous, aggregate information (such as internet protocol (IP) addresses, browser types, search engines, internet service provider (ISP), referring/exit pages, platform type, date/time stamp, and number of clicks) from all visitors to our website. You may search our website for car models, prices, and other information provided through our website without ever submitting your name, email address, or any other personally identifiable information.</p>

    <p>The anonymous information that we do collect from your visit is never linked to any of your personally identifiable information until you voluntarily submit that personal information, in which case some otherwise anonymous information may be connected to your website activity and personal account.</p>

    <p>We also use "cookies" and "image tags" to collect certain usage information from all customers and visitors to our website. A "cookie" is a small text file that a website can place on your computer’s hard drive or on your mobile device’s memory in order to collect information about your activities on our website. An "image tag," also known as a clear GIF or web beacon, works together with cookies and is a small image file that may be located in various areas of our website.</p>

    <h3>Personally Identifiable Information</h3>
    <p>Second, we require the submission of certain personally identifiable information when you use some services available on our website. For example, your use of your username and password allows us to identify you as our customer who is seeking information in connection with our services.</p>

    <h2>2. How We Use Your Personally Identifiable Information</h2>
    <p>The dealership does not sell, rent, or share personally identifiable information to or with any third party not affiliated with or owned by the dealership, except service providers who may assist us in such areas as our promotions, credit checks, data storage, and order processing.</p>

    <h2>3. Third Party Information About You</h2>
    <p>Our website supplements the information that you provide with information that we obtain about you from third parties, such as credit bureaus and other sources.</p>

    <h2>4. Our Agents and Vendors</h2>
    <p>The dealership may use other companies and/or individuals to perform any functions described in this Privacy Policy, on our behalf.</p>

    <h2>5. Disclosure of Personal Information as Required by Law or Otherwise</h2>
    <p>We will disclose personal information when required by law, or if we have a good-faith belief that such action is necessary to (a) comply with a current judicial proceeding, a court order or legal process served on us or to comply with the request of a law enforcement agency.</p>

    <h2>6. Links</h2>
    <p>Our website may contain links to websites not operated by us. The dealership is not responsible for the privacy practices or content of these other sites.</p>

    <h2>7. Security</h2>
    <p>The dealership takes commercially reasonable precautions to protect your personally identifiable information. However, we cannot guarantee the absolute security of your information.</p>

    <h2>8. Your Consent and Notification of Changes</h2>
    <p>By using any of our website or submitting information to us online, you agree that we may collect and use this information as stated in this Privacy Policy at the time we collect the information.</p>

    <h2>9. Opting Out</h2>
    <p>Visitors and customers can opt-out of receiving specific types of communications from us and our partners, such as e-mail, by not providing personally identifiable information at the point where our website requests such information.</p>

    <h2>10. Further Information about Our Privacy Policy and Practices</h2>
    <p>This Privacy Policy applies to all visitors and customers of our website. We may delete any or all your information at any time without notice to you for any reason or no reason unless otherwise required by law to retain it.</p>

    <p class="footer">Prices do not include tax, tag, title, registration, any dealer-installed accessories, or dealer-provided benefits. Additional fees include a pre-delivery service fee of $999, a Private Tag Agency Fee of $98, and an Electronic Registration Filing Fee of $199.75.</p>

    <p class="footer">ZML Toyota will not hold used vehicles or take deposits to hold used vehicles. We do not sell to other dealers or wholesalers. We offer financing with approved credit as well as special financing for challenged credit, in addition to accepting cash or personal check. ZML Toyota will not charge a higher price if you do not have a trade. Internet special pricing is with approved credit through a dealership provided financial source.</p>

    <p class="footer">By submitting my cell phone number to the Dealership, I agree to receive text messages, and phone calls, which may be recorded and/or sent using automated dialing equipment or software from ZML Toyota and its affiliates in the future, unless I opt-out from such communications.</p>

    <p class="footer">***MPG Disclaimer: Based on EPA mileage ratings. Your mileage will vary depending on driving conditions, how you drive and maintain your vehicle, battery-pack age/condition, and other factors.</p>
    </div>

    </html>
