html {
  font-size: 14px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.poster {
    max-width: 800px;
    max-height: 400px;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

/* NAV */
.navbar-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-brand {
    margin-right: 4rem;
}

.nav-item {
    display: flex;
    align-items: center;
}




/* HOME PAGE CSS*/





@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}