html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.poster {
    max-width: 800px;
    max-height: 400px;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    h1
    {
        font-size: 28px;
        font-weight: 400;
    }
}

/* NAV */
.navbar-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-brand {
    margin-right: 4rem;
}

.nav-item {
    display: flex;
    align-items: center;
}




/* HOME PAGE CSS*/


/* MANAGE TABLE */
.table-ctnr {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .25) !important;
    margin-bottom: 1rem;
}

.table-row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;

    border-bottom: 1px solid lightgrey;

    img {
        max-width: 100px;
        margin-right: 1rem;
    }

    p { margin: 0; }
}
    .table-row:last-child {
        border: none;
    }





@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}